In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
from pprint import pprint

In [19]:
cities = ["Chicago, IL", "St Louis, MO", "Boston, MA",  "Austin, TX", "Seattle, WA", "Los Angeles, CA", 
"Las Vegas, NV", "Denver, CO", "Philadelphia, PA", "Honolulu, HI", "Nashville, TN", "Miami, FL", "New Orleans, LA", "Raleigh, NC",
 "Minneapolis, MN", "Detroit, MI", "Phoenix, AZ", "San Diego, CA", "New York City, NY"]
len(cities)

19

In [31]:
search_url = "https://api.teleport.org/api/cities/?search="
#urban_area_url = []

city_score_dict = {
    'City':[],
    'Housing':[],
    "Cost of Living":[],
    "Startups":[],
    "Venture Capital":[],
    "Travel Connectivity":[],
    "Commute":[],
    "Business Freedom":[],
    "Safety":[],
    "Healthcare":[],
    "Education":[],
    "Environmental Quality":[],
    "Economy":[],
    "Taxation":[],
    "Internet Access":[],
}


city_score_list = []
for city in cities:
    response = requests.get(search_url+city).json()
    city_url = response['_embedded']['city:search-results'][0]['_links']['city:item']['href']
    response = requests.get(city_url).json()
    try:
        urban_area_url=response['_links']['city:urban_area']['href'] +"scores"
        response = requests.get(urban_area_url).json()
        city_score_list.append(response['categories'])
        city_score_dict['City'].append(city)
    except:
        print(city,"doesn't belong to an urban area")


for city_score in city_score_list:
    for category in city_score:
        try:
            city_score_dict[category['name']].append(category['score_out_of_10'])
        except:
            continue

city_df = pd.DataFrame(city_score_dict)
city_df

,City,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access
0,"Chicago, IL",3.7020,4.766,9.5130,8.368,5.5075,4.57975,8.671000,3.8320,8.555000,7.9990,6.80450,6.5145,4.0620,6.5995
1,"St Louis, MO",6.9580,5.504,5.4240,3.885,2.5315,5.08550,8.671000,3.8805,8.877333,5.2715,7.37425,6.5145,4.0620,8.9090
2,"Boston, MA",1.0000,4.259,9.5650,10.000,3.2150,4.39625,8.671000,7.7420,8.956000,8.6245,8.17050,6.5145,4.0620,5.7005
3,"Austin, TX",4.3345,5.355,9.2360,6.939,1.8515,4.33050,8.671000,5.0690,8.686667,5.3150,7.03075,6.5145,4.7720,9.0490
4,"Seattle, WA",2.2910,3.790,8.3670,7.551,2.8845,4.52375,8.671000,5.6365,8.724333,5.7145,7.56025,6.5145,4.7720,4.9405
5,"Los Angeles, CA",1.5275,4.556,10.0000,10.000,3.9585,3.67700,8.574667,5.7050,8.439667,8.6245,4.73150,6.5145,4.7675,5.4965
6,"Las Vegas, NV",7.0010,5.759,7.5150,2.022,3.5285,4.80750,8.671000,2.3850,7.984667,3.6245,5.55650,6.5145,4.7720,5.3035
7,"Denver, CO",3.8375,5.102,7.8645,6.117,4.2430,4.53000,8.671000,5.3710,8.615667,3.6245,7.11675,6.5145,4.3460,5.4185
8,"Philadelphia, PA",4.2070,4.422,7.3625,5.216,3.5560,4.13150,8.671000,3.1330,8.621667,6.0285,5.12400,6.5145,3.7785,7.4430
9,"Honolulu, HI",2.3415,2.867,4.1335,0.000,1.9830,4.16175,8.671000,6.8565,8.474000,4.2805,6.09400,6.5145,4.2040,6.1580
10,"Nashville, TN",4.4545,5.742,6.0600,3.569,1.9080,4.50100,8.671000,5.0780,8.370333,4.7330,7.05650,6.5145,4.7720,6.6370
11,"Miami, FL",3.0310,4.497,8.0225,5.055,4.1690,4.05275,8.671000,4.3210,8.529000,4.3945,6.29200,6.5145,4.7720,5.8240
12,"New Orleans, LA",5.3390,4.992,4.7365,1.210,1.7570,4.62750,8.671000,2.0880,8.311667,4.1520,5.67400,6.5145,4.3460,6.4530
13,"Raleigh, NC",6.1285,5.610,5.4970,5.157,1.7570,4.78425,8.671000,6.5225,8.966667,7.1165,8.58375,6.5145,4.0620,7.9515
14,"Minneapolis, MN",4.7385,5.042,6.5265,5.523,3.5440,4.92500,8.671000,5.0850,8.972000,5.2745,8.36200,6.5145,4.0620,6.2585
15,"Detroit, MI",6.2230,6.032,5.4015,5.184,3.6405,0.93300,8.671000,4.4615,8.279000,5.8185,4.04675,6.5145,3.7785,6.1670
16,"Phoenix, AZ",6.5330,6.208,6.5085,4.558,3.3025,4.82850,8.671000,2.5830,8.567333,4.5910,4.62525,6.5145,4.4880,6.1780
17,"San Diego, CA",2.9335,5.156,8.3505,8.595,2.6220,4.40975,8.671000,6.9330,8.767667,5.4575,7.26725,6.5145,4.4880,5.9990
18,"New York City, NY",1.0000,2.342,10.0000,10.000,6.6750,5.51925,8.671000,7.0220,8.501667,8.0935,5.23375,6.5145,3.9205,7.0985

In [40]:
city_df["Overall"] = ""
metrics = ["Environmental Quality", "Cost of Living", "Education", "Commute", "Safety"]
for index, row in city_df.iterrows():
    row[1:-2].astype(float)
    city_df.loc[index, "Overall"] = np.mean(row[1:-1])
sorted_df = city_df.sort_values('Cost of Living', ascending=False)
sorted_df.head(10)

,City,Housing,Cost of Living,Startups,Venture Capital,Travel Connectivity,Commute,Business Freedom,Safety,Healthcare,Education,Environmental Quality,Economy,Taxation,Internet Access,Overall
16,"Phoenix, AZ",6.5330,6.208,6.5085,4.558,3.3025,4.82850,8.671,2.5830,8.567333,4.5910,4.62525,6.5145,4.4880,6.1780,5.582613
15,"Detroit, MI",6.2230,6.032,5.4015,5.184,3.6405,0.93300,8.671,4.4615,8.279000,5.8185,4.04675,6.5145,3.7785,6.1670,5.367911
6,"Las Vegas, NV",7.0010,5.759,7.5150,2.022,3.5285,4.80750,8.671,2.3850,7.984667,3.6245,5.55650,6.5145,4.7720,5.3035,5.388905
10,"Nashville, TN",4.4545,5.742,6.0600,3.569,1.9080,4.50100,8.671,5.0780,8.370333,4.7330,7.05650,6.5145,4.7720,6.6370,5.576202
13,"Raleigh, NC",6.1285,5.610,5.4970,5.157,1.7570,4.78425,8.671,6.5225,8.966667,7.1165,8.58375,6.5145,4.0620,7.9515,6.237298
1,"St Louis, MO",6.9580,5.504,5.4240,3.885,2.5315,5.08550,8.671,3.8805,8.877333,5.2715,7.37425,6.5145,4.0620,8.9090,5.924863
3,"Austin, TX",4.3345,5.355,9.2360,6.939,1.8515,4.33050,8.671,5.0690,8.686667,5.3150,7.03075,6.5145,4.7720,9.0490,6.225315
17,"San Diego, CA",2.9335,5.156,8.3505,8.595,2.6220,4.40975,8.671,6.9330,8.767667,5.4575,7.26725,6.5145,4.4880,5.9990,6.154619
7,"Denver, CO",3.8375,5.102,7.8645,6.117,4.2430,4.53000,8.671,5.3710,8.615667,3.6245,7.11675,6.5145,4.3460,5.4185,5.81228
14,"Minneapolis, MN",4.7385,5.042,6.5265,5.523,3.5440,4.92500,8.671,5.0850,8.972000,5.2745,8.36200,6.5145,4.0620,6.2585,5.964179